model/nezha_base/model.ckpt-900000.data-00000-of-00001
model/description_model/Sense_nezha_base_v2_1.h5
model/description_model/desc_7_classifier/pytorch_model.bin
model/bert_chinese_wwm_ext_pytorch/pytorch_model.bin
